---
---

<script>
// Get API key from server side .ENV file
//const APIKEY = import.meta.env.PUBLIC_WEATHER_API;
const APIKEY = 'f2f85762267ef18d0df71e18ec9f3737'

// API endpoint URL
const queryEndpoint = 'https://api.openweathermap.org/data/2.5/weather';
// City
const queryCity = 'Cheney';
// Units for Farenheit
const queryUnits = 'imperial';

// URL query string
const url = `${queryEndpoint}?q=${queryCity}&appid=${APIKEY}&units=${queryUnits}`;

// Get DOM Elements
const city = document.querySelector('.city');
const temp = document.querySelector('.temp');
const icon = document.querySelector('.icon');

// Using fetch to get data
fetch(url)
.then( response => response.json() )
.then( data => {

  // Check-check: Is data good? 
  console.log( data );
  
  // Get Container for Weather   
  const weatherContainer = document.querySelector('.weather');
    
    // Set DOM Elements
    city.textContent = data.name; 
    temp.textContent = data.main.temp;

    icon.setAttribute('src', `http://openweathermap.org/img/wn/${data.weather[0].icon}@2x.png`)
  
});
</script>


<!-- Weather -->
<section class="weather card glass w-96 h-3/4">

      <!-- <h1>Weather</h1> -->
    <div class=" font-mono text-3xl text-center">
      <data class="city">City</data>
      <data class="temp">Temp</data> F°
      <img class="icon place-self-center " src="https://via.placeholder.com/150" alt="Placeholder">
    </div>
      
</section>
